.headline__text {
  font-size: 52px;
  font-weight: 500;
  padding-bottom: 25px;
  padding-top: 10px;
}

.accordion {
  margin-bottom: 10px;
  padding: 6px 0px;

  text-align: center;
  background: #303030 !important;
  color: white !important;
  font-size: 1.5rem !important;
}

.acc__icon {
  color: #fff !important;
}


@media screen and (max-width : 650px){
  .accordion{
    padding: 0px;
    font-size: 1px;
  }
  .makeStyles-secondaryHeading-3{
    font-size: 12px !important;
  }
  .jss7{
  font-size : 13px;
  }
}
